.speech {
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;

}
.direction {
    font-size:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    background-color: aqua;

}
.name {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.direction:hover {
    color:blueviolet;
    background-color: cadetblue;
}
.purgon {
color:blue;
}

.argan {
color:brown
}

.toinette {
    color:darkmagenta
}
.table {
    padding:20px;
    border: solid 4px;
    margin:20px;
    
}
.table_heading {
    background-color: darkseagreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 2px;
    text-align: center;
}
.table_value1 {
    background-color: lightsalmon;
    border-radius: 2px;
    text-align: center;

}
.table_value2 {
    background-color:hotpink;
    border-radius: 2px;
    text-align: center;

}
.name:hover {
    text-shadow:2px rgb(121, 119, 119);
    color: yellow;
    filter:blur(3px);
    border:solid 2px red;
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li {
    float:left;
    color:#000;
    background-color: rgb(118, 151, 117);
}
ul.navbar-horizontal a {
    display:block;
    padding:8px;
    color: rgba(20, 236, 92, 0.911);
}
ul.navbar-horizontal a:hover {
    background-color: rgb(25, 13, 102);
    color:rgb(34, 160, 233);
}